.App {
    padding: 5% 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App .input{
    display: flex;
    justify-content: center;
margin-bottom: 30px;
}

.App .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Tout se met en ligne et quand on arrive à fin du nav passe à la ligne*/
}

.App .isLoading {
    width: 374px;
    height: 224px;
    background-color: #DDD;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}